[Desktop Entry]
Type=Application
Name=Notes Vault
Comment=Your personal notes vault
Exec=/opt/Notes Vault/notes-vault --hidden
Icon=notes-vault
Terminal=false
Categories=Utility;
StartupNotify=false
X-GNOME-Autostart-enabled=true
Hidden=false